{% extends "uploader/base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="pagetitle_wrapper"><h1 id="pagetitle">Upload</h1></div>
  <div id="inner_content">
    {% if error %} <ul class="errorlist"><li> {{ errorText }} </li></ul> {% endif %}
    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
      {% csrf_token %}
      <div class="fieldWrapper">
	<div class="error"><img class="errorIcon" src="{% static "uploader/warning.svg" %}">{{ form.token.errors }}</div></br>
	<label for="id_token">Token:</label>
	{{ form.token }}
      </div>
      <div class="fieldWrapper">
	<div class="error"><img class="errorIcon" src="{% static "uploader/warning.svg" %}">{{ form.uploadFile.errors }}</div></br>
	<label for="id_uploadFile">File:</label>
	{{ form.uploadFile }}
      </div>
      <div id="upload_btn_wrapper"><input id="upload_btn" type="submit" value="Upload"></div>
    </form>
  </div>
{% endblock %}